<div id="dDetalle">
     <div id="alq">
        <img [src]="(casaSel.alquiler)? 'assets/img/alq_true.png' : 'assets/img/alq_false.png'" alt="">
      </div>
    <div class="iDetalle">
      <img src="{{casaSel.foto}}" alt=""><!-- {{casa.foto}} -->
    </div>
    
    <div id="nomPrecDet">
      <span id="a1">{{casaSel.nombre}}</span><span id="a2">{{casaSel.precio}}<i class="glyphicon glyphicon-euro"></i> </span>
      <p class="infoDet">{{casaSel.direccion}}</p><!--{{recetaSel.nombre}}-->
      <p class="infoDet">Habitaciones: {{casaSel.habitaciones}}</p ><!--{{recetaSel.nombre}}-->
    </div>
    <div id="servicios">
      <span>Tv&nbsp;<span [class]="(casaSel.servicios[0].disponible) ? 'glyphicon glyphicon-ok-circle green' : 'glyphicon glyphicon-remove-circle red'"></span></span>
      <span>WC&nbsp;<span [class]="(casaSel.servicios[1].disponible) ? 'glyphicon glyphicon-ok-circle green' : 'glyphicon glyphicon-remove-circle red'"></span></span>
      <span>Jardín&nbsp;<span [class]="(casaSel.servicios[2].disponible) ? 'glyphicon glyphicon-ok-circle green' : 'glyphicon glyphicon-remove-circle red'"></span></span>
      <span>Cocina&nbsp;<span [class]="(casaSel.servicios[3].disponible) ? 'glyphicon glyphicon-ok-circle green' : 'glyphicon glyphicon-remove-circle red'"></span></span>
    </div>
</div>