<div class="row" id="rowWrap">
  <div class="col-xs-6" id="colGaleria">
    <div class="col-xs-12" id="filtros">
        <input [(ngModel)]="searchText" placeholder="Busca una casa">        
        <div id="iAlqVen">
          <span><label for="">Alquiler </label><input type="checkbox"></span>
          <span><label for="">Venta </label><input type="checkbox"></span>
        </div>
        <div id="iPrecio">
          <label for="">Precio:</label>
          <input [(ngModel)]="minPrec" type="number" min="0" id="iMin" placeholder="Minimo">
          <input [(ngModel)]="maxPrec" type="number" min="0" id="iMax" placeholder="Maximo">
        </div>
      </div>

    <div id="galeria">      
      <div *ngFor="let casa of aCasas | filterCasa: searchText" class="dTarjeta"  [class.seleccionado]="casa == seleccion" (click)="seleccionarCasa(casa)">
          <!-- <div id="gluten">
              <img [src]="(!recetaSel.isGlutenFree) ? 'assets/img/gluten-red.png' : 'assets/img/gluten-green.png'" alt="">
            </div> -->
          <div class="iCasa">
            <img src="{{casa.foto}}" alt="">
          </div>
          <div class="nomPrec">
            <!-- <h2>{{casa.nombre}}</h2> -->
            <span class="a1">{{casa.nombre}}</span><span class="a2">{{casa.precio}}<i class="glyphicon glyphicon-euro"></i> </span>
          </div>
          <!-- <div id="descTarjeta">
            {{recetaSel.descripcion}}
          </div> -->
      </div>
      
    </div><!-- galeria -->
  </div>
  <div class="col-xs-6" id="colDetalle">
    <app-detalle [casaSel]="seleccion"></app-detalle>
    
  </div>

</div>